*{padding: 0;
margin: 0;
}
.conthidetext{
    width: 98vw;
    position: absolute;
    top: 0;
    left: 0;
    
}

.topflowers{
    width: 100vw;
}

.barname{
    font-size: 6vw;
    color: crimson;
    position: absolute;
    left: 40vw;
    top: 35vh;
    text-shadow: 0 0 15px crimson;
}